   <footer>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <div class="footer-copyright text-center py-3">© 2019 Copyright -
        <a href="https://lutu.gq/"> Lutu Administration Team</a>
      </div>
    </footer>
  </body>
</html>
