<%- include('blocks/header', {bot, user, path}) %>
<div class="jumbotron">
    <div class="media text-center">
      <img class="d-flex mr-3 rounded-circle" src="/public/images/403.gif" style="width: 64px; height: 64px;" alt="locked.gif">
      <div class="media-body">
        <h5 class="mt-0">403 - Forbidden
        </h5>Authentication with discord failed. Please try again.
      </div>
    </div>
  </div>
<% include ./blocks/footer %>