<%- include('blocks/header', {bot, user, path}) %>

<div class="jumbotron text-center">
    <br> <br>
    <img src="/public/images/404_img.png" style="width: 43%; height:43%;">
    <h3>Whoops, seems like page was not found.</h3>
    <br> <br>
</div>

<% include ./blocks/footer %>