<%- include('blocks/header', {bot, user, path}) %>
<script>
  function wrapToDashboard() {
    location.href = "/dashboard";
  };

  function wrapToInfo() {
    location.href = "/info";
    console.log("2");
  };
</script>

<div class="text-center">
  <img src="<%= bot.user.displayAvatarURL({ size: 512 }) %>" alt="Lutu Icon" style="border-radius: 50%;">
  <br><br>
  <h3>Discord server security brought to a new level.</h3>
  <p>Lutu is the only moderation bot you need for your server.</p>
  <button type="button" onclick="wrapToDashboard();" class="btn btn-outline-success btn-lg">Select Server</button>
</div>
