<%- include('blocks/header', {bot, user, path}) %>

<div class="jumbotron text-center">
    <h1>Well be back soon!</h1>
    <p>We have an undergoing maintenance at the moment. Please bear with us in the meantime. Join our <a href="https://discord.gg/WkDuC5e">discord server</a> for more details.</p><br><h5>~ Lutu Administration Team</h5>
</div>

<% include ./blocks/footer %>
